.home {
  background-color: #fff;
  .intro{
    padding:10px;
    h5{
      font-size: 18px;
      color:#333;
      text-align: center;
      padding: 10px 0;
    }
    p{
      font-size: 14px;
      color:#555;
      text-align: justify;
    }
  }
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  margin: 10px auto;
  padding: 50px 0;
  width: 100%;
  h2{
    color: #be0007;
    font-size: 0.67rem;
  }
  span {
    font-size: 0.53rem;
    color:#333;
    align-items:center;
  }
  p {
    color: #818181;
    font-size: 0.4rem;
  } 
  .redline{
    margin-top: 10px;
    width:20%;
    border:solid 1px #be0007;
    background-color: #f00e2a;
  }
}
.my-swipe .van-swipe-item {
  color: #fff;
  font-size: 20px;
  text-align: center;
  img {
    width: 100%;
    border:solid 5px #ccc;
  }
}
.tixi {
  overflow: hidden;
  width: 1032px;
  margin: 0 auto;
  height: 362px;
  li {
    float: left;
    width: 238px;
    margin: 0 10px;
    height: 362px;
    background-color: #fff;
    img {
      display: block;
      margin: 0 auto;
      margin-top: 9px;
      margin-bottom: 20px;
    }
    h4 {
      text-align: center;
      font-weight: normal;
      font-size: 18px;
      color: #000;
      margin-bottom: 12px;
    }
    p {
      font-size: 13px;
      color: #333;
      line-height: 25px;
      width: 200px;
      margin: 0 auto;
      text-align: justify;
      word-spacing: -1.5px;
    }
  }
  li:hover {
    background-color: #fd581f;
  }
  li:hover h4 {
    color: #fff;
  }
  li:hover p {
    color: #fff;
  }
}