.home {
  background-color: #fff;
  padding: 20px;
  .title{
    text-align: center;
  }

  .van-tabs{
    // color:#fd581f;
    // background-color:#fd581f;
    margin: 10px;
    .van-tabs__nav--card {
      box-sizing: border-box;
      height: 0.8rem;
      /* margin: 0 0.42667rem; */
      border: 0.02667rem solid #ee0a24;
      border-radius: 0.05333rem
    }
    .van-tab{
      width:355px;
      height:200px;
      background:#333;
      
    }
    .news{
      height: 200px;
      width: 89%;
      background:red;
      margin: 0 20px;
    }
    .action{
      background:red;
      width:3200x;
      height:400px;
      
    }
  }
  
}
