.home {
  background-color: #fff;
  padding: 10px;
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-color;
    padding: 30px 0;
    width: 100%;
    p {
      color: #818181;
      font-size: 0.4rem;
    }
    .redline {
      margin-top: 10px;
      width: 20%;
      border: solid 1px #be0007;
      background-color: #f00e2a;
    }
  }

  .van-tabs {
    // color:#fd581f;
    background-color: #fff;
    // margin: 10px
    .van-tabs__nav--card {
      box-sizing: border-box;
      height: 0.8rem;
      margin: 5px 0;
      border: 0.02667rem solid #ee0a24;
      border-radius: 0.05333rem;
    }
    .van-tab {
      width: 355px;
      height: 200px;
      background: #333;
    }
    .news {
      height: 200px;
      width: 91%;
      background: #fff;
      margin: 2px 15px;
    }
    .action {
      height: 200px;
      width: 91%;
      background: #fff;
      margin: 2px 15px;
      display: flex;
      img {
        width: 124px;
        height: 69px;
        margin: 25px 30px;
      }
      .detail {
        width: 50%;
        h5 {
          font-size: 15px;
          padding: 25px 0 10px 0;
        }
        p {
          font-size: 14px;
          color: #555;
        }
      }
    }
  }
}
