.home {
  background-color: #fff;
  padding: 20px;
  .title{
    text-align: center;
  }
}
van-tabs{
  color:#fd581f;
  background-color:#fd581f;
  van-tab{
    .news{
      
      background:red;
    }
    .action{
      background:red;
      width:3200x;
      height:400px;
      
    }
  }
}
