.home {
  background-color: #fff;
  padding: 10px;
}
.pic{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .mingshi-container {
    width: 50%;
    .mingshi-single {
      box-shadow: 0 0 10px #555;
      margin: 10px 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 100%;
      }
    }
  }
}