h1 {
  margin-left: 3%;
}

img {
  display: block;
  width: 70%;
}

header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.wap-nav {
  color: #a9050e;
  font-size: 20px;
  margin: 0 3%;
}