h1 {
  margin-left: 0.2rem;
}

a {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  img {
    display: block;
    width: 20px;
  }
  span {
    margin-left: 10px;
    font-size: 12px;
    color: black;
  }
}

header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.wap-nav {
  color: #a9050e;
  font-size: 20px;
  padding: 0 0.5rem;
}

ul {
  height: calc(100% - 50px);
  margin-top: 50px;
  li {
    display: flex;
    padding: 12px 0;
    justify-content: center;
    span {
      font-size: 16px;
    }
  }
}
