.home-about {
  background-color: #fff;
  padding: 10px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    color: #818181;
    font-size: 0.4rem;
  } 
}
.divider{
  color:#888;
  border:green;
  .redline{
    width:10%;
    border:solid 4px #f00e2a;
  }
}