.home-qiyefengcai {
  background: #fff;
  margin: 10px;
  text-align: center;
  .fangan {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .route-container {
      width: 50%;
      .route-single {
        box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px 0px;
        border-radius: 5px;
        margin: 10px 5px;
        display: flex;
        flex-direction: column;
        img {
          width: 100%;
          border-radius: 5px 5px 0 0;
        }
        span {
          height: 35px;
          margin: 10px 5px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
.van-list /deep/ .van-list__loading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.fangan /deep/ .van-list__finished-text {
  display: flex;
  justify-content: center;
  width: 100%;
}
