.home-lianxiwomen {
  background: #fff;
  text-align: center;
  .lianxi {
    display: flex;
    margin: 15px;
    justify-content: center;
    font-size: 15px;
    color: #555;
    .icon {
      width: 15px;
    }
  }
  .navigation {
    text-align: center;
    padding: 10px;
    span {
      font-size: 15px;
      color: #555;
    }
    a {
      text-decoration: none;
      img {
        width: 100%;
      }
    }
  }
}
