.home-lianxiwomen {
  background: #fff;
  margin:10px;
  text-align: center;
  .lianxi{
    display:flex;
    margin: 15px;
    justify-content: center;
    font-size: 15px;
    color:#555;
    .icon{
      width: 15px;
    }
  }
  .navigation{
    align-items: center;
    text-align: center;
    img{
      width:90%;
      margin: 10px;
    }
    span{
      font-size: 15px;
      color:#555;
    }
    a {
      text-decoration: none;
      img {
        border: 0;
        width: 400px;
        height: 425px;
      }
    }
    a:hover {
      text-decoration: underline;
    }
  }
}