.home-lianxiwomen {
  background: #fff;
  margin:10px;
  text-align: center;
  .lianxi{
    margin: 20px;
    text-align: center;
    font-size: 15px;
    color:#555;
    .icon{
      width: 15px;
    }
  }
  img{
    width:90%;
    margin: 10px;
    align-items: center;
  }
}