.home {
  background-color: #fff;
  padding: 10px;
}
.photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .rongyu-container {
    width: 50%;
    .rongyu-single {
      box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px 0px;
      border-radius: 5px;
      margin: 10px 5px;
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
        border-radius: 5px 5px 0 0;
      }
      span {
        height: 35px;
        margin: 10px 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}

.van-list ::v-deep .van-list__loading {
  // .van-list /deep/ .van-list__loading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.photo ::v-deep .van-list__finished-text {
// .fangan /deep/ .van-list__finished-text {
  display: flex;
  justify-content: center;
  width: 100%;
}