header h1 {
  margin-left: 3%;
}

.my-swipe .van-swipe-item {
  color: #fff;
  font-size: 20px;
  text-align: center;
  img {
    width: 100%;
  }
}

.indicator {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    display: inline-block;
    width: 2em;
    height: 3px;
    background-color: #cfcfcf;
    margin: 0 4px;
    margin-top: 2px;
    text-indent: -99999em;
  }
  .on {
    background-color: #f00e2a;
  }
}
