header h1 {
  margin-left: 3%;
}
img {
  display: block;
  width: 70%;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > figure {
  float: left;
  width: 100%;
  position: relative;
}