.home {
  margin: 10px auto;
  background-color: #fff;
}
.title {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    color: #818181;
    font-size: 0.4rem;
  } 
}